h1{
    font-family: 'Kurale', serif;
    font-weight: bold;
}
.col-12{
    background-color: aqua;
}
.col-8{
    background-color: rgb(199, 118, 12);
}
.col-4{
    background-color: rgb(39, 188, 106);
}
.col-md-4{
    background-color: blue;
}
.container{
    background-color: rgb(71, 147, 247);
    height: 100vh;
}
.aboutMeH1{
    height: 41.5rem;
}
.title-me{
    height: 7rem;
    text-align: center;
    margin: auto 0;
    
}
.title-me h1{
    font-size:4.5rem !important;
    /* font-family: 'Raleway',sans-serif; */
    /* font-family: 'Kurale', serif; */
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    opacity: 0.6;
}
.aboutme{
    height: 18rem;
    font-family: 'Kurale', serif;
}
.aboutme h1{
    font-size:4.5rem !important;
    text-align: center;
}
.row{
    height: 20rem;
}
.row h1{
    font-size:1.3rem;
}
.row p,li{
    font-size: 15spx;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    list-style:symbols();
}
.col-sm h3 {
    font-family: 'Kurale', serif;
    font-size: 25px;
    text-align: center;
}
.last-row {
    padding-top: 40px;
    border: 4px solid rgb(12, 150, 79);
}
.last-row .col-sm {
    margin-left: 25px;
}
.info ul {
    margin: 0%;
 display: flex;
 flex-direction: column;   
 justify-content: space-around;
    height: 100%;
    width: 100%;
}
.info ul li {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 20%;
    border-radius: 8px;
    box-shadow: rgb(68, 77, 64) 0px 20px 30px -10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.roww{
    height: 260px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



/**/