:root{
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100%;
    overflow-x: hidden !;
    background-color: rgb(235, 229, 229) !important;
    
}
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 99;
    height: 100vh;
    border: 2px solid #333;
    background-color: #034049;
    display: none;
    transition: 1.6 all ease;
}
    

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
    height: 150px;
}


/* navbar */
.nav-bar{
    width: 100%;
    height: 100vh;
}
.sidebar ul{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.sidebar ul li{
    text-decoration: none;

}
.nav-bar a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}
.nav-bar h3{
    color: #fff;
    margin-top: 5px;
    text-align: center;
}
.social-icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
    font-size: 1.9rem;
    margin:0 auto;
    color: rgb(153, 159, 230);
}

/* container */
.container_{
    /* background-image: url(../assets/images/background.png); */
    background-image: url(../assets/images/download.jfif);
    background-size: cover;
    /* padding-left: 30px; */
    width: 100%;
    height: 100vh;
    border: 2px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;

  
}
/* content */
.content{
    width: 100%;
    height: max-content;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.descriptions{
    display: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.desContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.description1{
    margin-top: 0px;

}
.description1 img{
    height: 400px;
    width: 440px;
 
}
.description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    height: 400px;
    width: 340px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    /* box-shadow: rgba(8, 13, 77, 3.5) 0px 50px 100px -0px, 
    rgb(223, 223, 223) 0px 30px 60px -12px,
     rgb(23, 139, 255) 0px -2px 6px -110px inset; */
    
     transition: all 0.4s ease;
     border-radius: 9px;
}

.a{
    border: 5px solid #fff;
    width: 1000px;
    height: 59px;
}

.hire{
    margin-top: 15px;
    width: 100px;
    height: 60px;
    padding: 10px;
    border-radius: 25px;
    background-color:hsl(273, 31%, 71%);
    color: #fff;
    border:0;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    transition: 0.4s all ease-out ;

}
.hire a{
    text-decoration: none;
    color: #fff;
    
}
.hire:hover{
    background:hsl(270, 60%, 40%);
}
/* icona */
/* icon animation */

.icon{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconn{
    font-size: 2.6rem;
    color: rebeccapurple;

}
.icon{
     animation: name duration timing-function delay iteration-count direction fill-mode; 
    width: 100%;
    height: 40px;
    animation: move  1.7s ease infinite alternate forwards;
    font-size: 1.4rem;
    font-weight: bold;
    
}
@keyframes move {
    0%{
        transform : translateY(0px);
        opacity: 0;
    }
    10%{
        transform : translateY(3px);
        opacity: 0.2;
        }
    15%{
        transform : translateY(5px);
    }
    20%{
        transform : translateY(7px);
    }
    25%{
        transform : translateY(10px);

    }
    30%{
        transform : translateY(12px)
    }
    35%{
        transform : translateY(15px)
    }
    40%{
        transform : translateY(17px)
    }
    45%{
        transform : translateY(19px)
    }
    50%{
        transform : translateY(21px);
        opacity: 1;
    }
    55%{
        transform : translateY(23px)
    }
    60%{
        transform : translateY(25px)
    }
    65%{
        transform : translateY(27px)
    }
    70%{
        transform : translateY(29px);
        opacity:1;
    }
    75%{
        transform : translateY(32px)
    }
    80%{
        transform : translateY(33px)
    }
    85%{
        transform : translateY(35px)
    }
    90%{
        transform : translateY(37px)
    }
    95%{
        transform : translateY(39px);
        opacity: 0.2;
    }
    100%{
        transform : translateY(40px);
        opacity:0;
    }
    
    
}
/* content */

.profile{
     z-index: 98;
    position: fixed;
    top: 0;
    margin-top: 30px;
    width: 50px;
    height: 40px;
    background:hsl(270, 50%, 15%);
    color: #fff;
    text-align: center;
    padding-top: 7px;
    border-radius: 6px;
    border: 2px solid rebeccapurple;
    font-family: 'Inter', sans-serif; 
    transition: 0.4s all ease-out ;

}
.profile:hover{
    background:hsl(270, 60%, 40%);
}


/*about me*/
.aboutMeH1{
    height:100vh;
    width: 100vw;
    color: rgb(40, 36, 36);
    background-color: #f9f3f3!important;
}

   


.title-me{
    height: 7rem;
    text-align: center;
    margin: auto 0;
    background-color:#f0efef;
    
}

.title-me h1{
    font-size:2.5rem !important;
    /* font-family: 'Raleway',sans-serif; */
    /* font-family: 'Kurale', serif; */
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    opacity: 0.6;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    font-family: 'Kurale', serif;
    
}
.about-title{
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #bbbda6;
}

.downL{
    border-radius: 8px;
    width:250px ;
    height: 50px;
    font-size: 1rem;
    box-shadow: rgba(176, 175, 175, 0.65) 0px 54px 95px, rgba(251, 251, 251, 0.12) 0px -72px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    justify-content: center;
    padding-top:15px ;
}
.aboutme a{
    text-decoration: none;
    color: #000000;
}
.aboutme a:hover{
    color: #6ab5c0;
    
    
}
.aboutme a:visited {
    color: red;
}

.roww{
    height: 260px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: #ffffff;
    transform: rotate(3deg)
}
.aboutmeRow{
    height: 20rem;
}
.aboutmeRow p,li{
    font-size: 15spx;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    list-style:symbols();
}
.aboutmeCards h3 {
    font-family: 'Kurale', serif;
    font-size: 25px;
    text-align: center;
}
.last-row {
    padding-top: 40px;
}
.last-row .aboutmeCards {
    margin-left: 25px;
}
.info ul {
    height: 100%;
    width: 100%;
}
ul{
    list-style: none;
}
.info ul li {
    text-align: left;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: 20%;
    font-size: 1.02rem;
    border-radius: 8px;
    box-shadow: rgb(8, 8, 8) 0px 20px 30px -19px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.info ul li a{
    text-decoration: none;
    color: rebeccapurple;

}
/* project */
.project{
    width: 100vw;
    height: 120vh;
    background-color: rgb(214, 231, 226);
}
.project-heading{
    text-align: center;
    padding-top: 10px;
}

.mainContainer{
}

.card-block img{
    width: 300px;
    height: 200px;

}
.flex__card{
    
display: flex;
flex-direction: column;
justify-content: space-around;
}

.card{
    background-size: cover;
text-align: center; 
    height: 22rem;
}



/* Contact */
section{
    height: 100vh;
    padding: 40px;
}
.formInput{
    margin-bottom: 3rem;
    resize: none;
    border-radius: 8px;
    border: none!important;
}
textarea{
    resize: none !important;
}

