@import url(../Style/mediaStyle.css);
/* Global */
:root{
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100%;
    overflow-x: hidden !;
    background-color: rgb(235, 229, 229) !important;
    
}
ul li a{
    text-decoration: none;
}
/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 999999999;
    
}
.nav{
    position: absolute;
    width: 100%;
}

.col__logo{
    margin-left: 30px;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
}
.col__links{
    border-radius: 8px;
}
.col__links ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    
   
    /* -webkit-backdrop-filter: blur(2px); */
    
}
.col__links ul li a{
    color: #000000 ;
    font-weight: 600;
    font-size: 1.5rem;
   
}


ul li:not(:last-child){
    margin-right: 2rem;
}

/* main container */
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.social-icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
    font-size: 1.9rem;
    margin:0 auto;
    color: rgb(153, 159, 230);
}
/* container */
.container_{
    /* background-image: url(../assets/images/background.png); */
    background-image: url(../assets/images/download.jfif);
    background-size: cover;
    /* padding-left: 30px; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

  
}
/* content */
.content{
    width: 100%;
    height: max-content;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.descriptions{
    width: 80%;
    display: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.desContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.description1{
    margin-top: 0px;

}
.description1 img{
    height: 400px;
    width: 440px;
 
}
.description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    height: 400px;
    width: 340px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    /* box-shadow: rgba(8, 13, 77, 3.5) 0px 50px 100px -0px, 
    rgb(223, 223, 223) 0px 30px 60px -12px,
     rgb(23, 139, 255) 0px -2px 6px -110px inset; */
    
     transition: all 0.4s ease;
     border-radius: 9px;
}

.a{
    border: 5px solid #fff;
    width: 1000px;
    height: 59px;
}

.hire{
    margin-top: 15px;
    width: 100px;
    height: 60px;
    padding: 10px;
    border-radius: 25px;
    background-color:hsl(273, 31%, 71%);
    color: #fff;
    border:0;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    transition: 0.4s all ease-out ;

}
.hire a{
    text-decoration: none;
    color: #fff;
    
}
.hire:hover{
    background:hsl(270, 60%, 40%);
}
/* icona */
/* icon animation */

.icon{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconn{
    font-size: 2.6rem;
    color: rebeccapurple;

}
.icon{
     animation: name duration timing-function delay iteration-count direction fill-mode; 
    width: 100%;
    height: 40px;
    animation: move  1.7s ease infinite alternate forwards;
    font-size: 1.4rem;
    font-weight: bold;
    
}
@keyframes move {
    0%{
        transform : translateY(0px);
        opacity: 0;
    }
    10%{
        transform : translateY(3px);
        opacity: 0.2;
        }
    15%{
        transform : translateY(5px);
    }
    20%{
        transform : translateY(7px);
    }
    25%{
        transform : translateY(10px);

    }
    30%{
        transform : translateY(12px)
    }
    35%{
        transform : translateY(15px)
    }
    40%{
        transform : translateY(17px)
    }
    45%{
        transform : translateY(19px)
    }
    50%{
        transform : translateY(21px);
        opacity: 1;
    }
    55%{
        transform : translateY(23px)
    }
    60%{
        transform : translateY(25px)
    }
    65%{
        transform : translateY(27px)
    }
    70%{
        transform : translateY(29px);
        opacity:1;
    }
    75%{
        transform : translateY(32px)
    }
    80%{
        transform : translateY(33px)
    }
    85%{
        transform : translateY(35px)
    }
    90%{
        transform : translateY(37px)
    }
    95%{
        transform : translateY(39px);
        opacity: 0.2;
    }
    100%{
        transform : translateY(40px);
        opacity:0;
    }
    
    
}
/* content */

/*about me*/
.aboutMeH1{
    height:100vh;
    width: 100vw;
    color: rgb(40, 36, 36);
    background-color: #f9f3f3!important;
}

   


.title-me{
    height: 7rem;
    text-align: center;
    margin: auto 0;
    background-color:#f0efef;
    
}

.title-me h1{
    font-size:2.5rem !important;
    /* font-family: 'Raleway',sans-serif; */
    /* font-family: 'Kurale', serif; */
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    opacity: 0.6;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    font-family: 'Kurale', serif;
    
}
.aboutme a{
    text-decoration: none;
    color: #000000;
}
.aboutme a:hover{
    color: #6ab5c0;
    
    
}
.aboutme a:visited {
    color: red;
}

.about-title{
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #bbbda6;
}

.downL{
    border-radius: 8px;
    width:250px ;
    height: 50px;
    font-size: 1rem;
    box-shadow: rgba(176, 175, 175, 0.65) 0px 54px 95px, rgba(251, 251, 251, 0.12) 0px -72px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    justify-content: center;
    padding-top:15px ;
}
.roww{
    height: 260px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
    transform: rotateX(50deg);
    border-radius:10px;
}
.roww h1{
    font-size: 1.2rem;
    height: fit-content;
    padding: 10px 0;
    background-color: #bbbda6;
}


.aboutmeRow{
    height: 20rem;
}
.aboutmeRow p,li{
    font-size: 15spx;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    list-style:symbols();
}
.aboutmeCards h3 {
    font-family: 'Kurale', serif;
    font-size: 25px;
    text-align: center;
}
.last-row {
    padding-top: 40px;
}
.last-row .aboutmeCards {
    margin-left: 25px;
}
.info ul {
    height: 100%;
    width: 100%;
}
ul{
    list-style: none;
}
.info ul li {
    text-align: left;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: 20%;
    font-size: 1.02rem;
    border-radius: 8px;
    box-shadow: rgb(8, 8, 8) 0px 20px 30px -19px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.info ul li a{
    text-decoration: none;
    color: rebeccapurple;

}
/* project */
.project{
    width: 100vw;
    height: 120vh;
    background-color: rgb(214, 231, 226);
}
.project-heading{
    text-align: center;
    padding-top: 10px;
}


.card-block img{
    width: 100px;
    height: 100px;

}
.flex__card{
    
display: flex;
flex-direction: column;
justify-content: space-around;
}

.card{
    background-size: cover;
text-align: center; 
    height: 22rem;
}



/* Contact */
section{
    height: 100vh;
    padding: 40px;
}
.formInput{
    margin-bottom: 3rem;
    resize: none;
    border-radius: 8px;
    border: none!important;
}
textarea{
    resize: none !important;
}















/* media */
@media screen and (max-width: 575.98px){ 

   
    /* header */
  
  .nav{
      width: fit-content;
      backdrop-filter: blur(15px);
  }
  /* kjo */
  .col__logo {
      display: none;
  }
  
  .col__links{
      border-radius: 8px;
  }
  .col__links ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0% !important;
      width: 100vw;  
  }
  .col__links ul li{
      text-align: center;

}
  .col__links ul li a{
      color: #000000 ;
      font-weight: 700;
      font-size: 1rem;
     
  }
  ul li:not(:last-child){
      margin-right: 1.2rem;
  }  
  /* main */

  main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* container */
.container_{
    width: 100%;
    height: 100vh;

  
}
/* content */
.content{
    width: 100%;
    display:flex;

}
.descriptions{
    width: 100%;
    height: 100px;
    display: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/*  */
}
.description{
    height: 300px;
    width: 340px;
    font-size: 1rem;
/*  */
}
.description1{
    display: none;
}

.hire{
    margin-top: 15px;
    width: 90px;
    height: 40px;
    padding: 0px;
    border-radius: 8px;
/*  */
}

/* icona */
/* icon animation */

.icon{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconn{
    font-size: 1.6rem;
    color: rebeccapurple;

}



/*about me*/
.aboutMeH1{
    height:fit-content;
    width: 100vw;
    color: rgb(40, 36, 36);
    background-color: #ffffff!important;
    /*  */
}
.aboutmeRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:max-content;
}
.aboutmeRow p,li{
    height: fit-content;
    width: 100%;
    font-size: 15spx;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    list-style:symbols();
}
.title-me{
    height: fit-content;
    text-align: center;
    margin: auto 0;
    background-color:#f0efef;
    /*  */
}
.title-me h1{
    font-size:1.5rem !important;
    /* font-family: 'Raleway',sans-serif; */
    /* font-family: 'Kurale', serif; */
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    opacity: 0.6;
}
.aboutme{
    height: fit-content;
 
    /*  */
}
.downL{
    width:150px ;
    height: 25px;
    padding:5px ;
    margin-left:50px ;
    /*  */
}
.downL:hover{
    background-color: rgb(165, 230, 165);
}

.aboutme i{
    font-size: 5px;
    color: rebeccapurple;
}

.about-title{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 5px;
    /*  */
}
.info ul li {
    padding: 10px;
    height: fit-content;
    /*  */
}

.last-row {
    padding-top: 10px;
    /*  */
}
.last-row .aboutmeCards {
    margin-left: 5px;
    /*  */
}

.roww{
    height: fit-content;
    transform: rotateX(20deg);
    padding: 10px 0;
} 
.roww ul li{
    font-weight: 530;
}
.roww h1{
    font-size: 1.2rem;
    height: fit-content;
    padding: 10px 0;
}


/* project */
.project{
    width: 100vw;
    height: fit-content;
    background-color: rgb(214, 231, 226);
    padding: 15px 0;
}

.card-block, .card{
    height: fit-content;
}

.card-block img{
    width: 100px;
    height: 100px;

}

.card{
    background-size: cover;
text-align: center; 
    height: fit-content;
    padding: 20px 0;
}


/* Contact */
section{
    height: fit-content;
    padding: 20px;
}
.formInput{
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: none!important;
}
textarea{
    resize: none !important;
}




   } 
  




























   @media screen and (min-device-width : 576px)  and (max-width: 767.98px) { 

    
    *{
        height: fit-content;
    }
    /* header */
  
  header{
      width: fit-content;
  }
  .nav{
        width: fit-content;
        backdrop-filter: blur(15px);
  }
  /* kjo */
  .col__logo {
      display: none;
  }
  
  .col__links{
      border-radius: 8px;
  }
  .col__links ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0% !important;
      width: 100vw;  
  }
  .col__links ul li{
      text-align: center;

}
  .col__links ul li a{
      color: #000000 ;
      font-weight: 700;
      font-size: 1.3rem;

  }



  /* main */

  main{
    height: fit-content;
  
}

/* container */
.container_{
    width: 100%;
    height: 50vh;
}
/* content */
.content{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.descriptions{
    width: 90vw;
    height: 300px;
    margin-top: 60px;
    display: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/*  */
}

.description1 img{
    height: 200px;
    width: 300px;
}

.hire{
    margin-top: 15px;
    width: 90px;
    height: 40px;
    padding: 0px;
    border-radius: 8px;
/*  */
}

/* icona */
/* icon animation */

.icon{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconn{
    font-size: 1.9rem;
    color: rebeccapurple;

}



/*about me*/
.aboutMeH1{
    height:fit-content;
    width: 100vw;
    color: rgb(40, 36, 36);
    background-color: #ffffff!important;
    /*  */
}
.aboutmeRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:max-content;
}
.aboutmeRow p,li{
    height: fit-content;
    width: 100%;
    font-size: 15spx;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    list-style:symbols();
}
.title-me{
    height: fit-content;
    text-align: center;
    margin: auto 0;
    background-color:#f0efef;
    /*  */
}
.title-me h1{
    font-size:1.5rem !important;
    /* font-family: 'Raleway',sans-serif; */
    /* font-family: 'Kurale', serif; */
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    opacity: 0.6;
}
.aboutme{
    height: fit-content;
 
    /*  */
}
.downL{
    width:150px ;
    height: 25px;
    padding:5px ;
    margin-left:50px ;
    /*  */
}
.downL:hover{
    background-color: rgb(165, 230, 165);
}

.aboutme i{
    font-size: 5px;
    color: rebeccapurple;
}

.about-title{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 5px;
    /*  */
}
.info ul li {
    padding: 10px;
    height: fit-content;
    /*  */
}

.last-row {
    padding-top: 10px;
    /*  */
}
.last-row .aboutmeCards {
    margin-left: 5px;
    /*  */
}

.roww{
    height: fit-content;
    transform: rotateX(20deg);
    padding: 10px 0;
} 
.roww ul li{
    font-weight: 530;
}
.roww h1{
    font-size: 1.2rem;
    height: fit-content;
    padding: 10px 0;
}


/* project */
.project{
    width: 100vw;
    height: fit-content;
    background-color: rgb(214, 231, 226);
    padding: 15px 0;
}

.card-block, .card{
    height: fit-content;
}

.card-block img{
    width: 100px;
    height: 100px;

}

.card{
    background-size: cover;
text-align: center; 
    height: fit-content;
    padding: 20px 0;
}


/* Contact */
section{
    height: fit-content;
    height: 90rem!important;
    padding: 10px;
}
.formInput{
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: none!important;
}
textarea{
    resize: none !important;
}








   }






@media (min-width: 768px) and (max-width: 991.98px) {

    
    
    .col__logo{
        margin-left: 10px;
    }

    .col__links ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }
    ul li{
        margin-right: 1rem;
    }
    
    
  
    .description1 img{
        height: 200px;
        width: 250px;
     
    }
    /*about me*/
    .aboutMeH1{
        height:100vh;
        width: 100vw;
        color: rgb(40, 36, 36);
        background-color: #f9f3f3!important;
    }
    
    /* project */
    .project{
        width: 100vw;
        height: fit-content;
        background-color: rgb(214, 231, 226);
    }

}

@media (max-width: 1199.98px) { 

    
    .col__links ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
    
ul li:not(:last-child){
    margin-right: 3rem;
}

} 
@media (min-width: 1200.98px) { 

    
    
ul li:not(:last-child){
    margin-right: 9rem;
}

} 